body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: "Encode Sans Expanded", sans-serif;;

}

.main-container{
    width: 100%;
    height: 100vh;
    background-color: back;
    display: flex;
    
}

.x-logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.x-logo img{
    width: 28px;
    height: 28px;
}

.x-logo:hover{
    background-color: gray;
}


.menu{
    width: 25%;
    height: 100vh;
    border-right: 1px solid gray;
    display: flex;
    justify-content: end;
}

.menu .contenido{
    width: auto;
    padding: 15px;

}

.menu ul{
    padding:0;
    list-style: none;
    
}

.menu ul li .item i{
    font-size: 22px;
    margin-right: 20px;
}

.menu ul li .item{
    color: white;
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    border-radius: 30px;    
    padding: 15px;
    display: flex;
    align-items: center;
}

.menu ul li .item:hover{
    background-color: gray;
}

.menu ul li .item.selected{
    font-weight: 700;

}


/* -----------------------------------------*/


.main{
    width: 35%;
    height: 100vh;
    border-right: 1px solid grey;
}

/*----------------menu post ----------------------*/

.menu-post{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;   
    color: gray;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.menu-post .item{
    width: 45%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.menu-post .item .active{
    color: white;
    font-weight: 300;
    border-bottom: 3px solid #1D9BF0;
}

.menu-post .item-config{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

/*-------------create post -----------------------------*/
.create-post{
    display: flex;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid grey;
}

.create-post .img-perfil{
    width: 70px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.create-post .img-perfil img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.create-post .post-editing{
    width: calc(100% - 70px);
    display: flex;
    flex-direction: column;
}

.create-post .post-editing .write{
    width: 100%;
    height: 80px;
}

.create-post .post-editing .write textarea{
    width: 100%;
    height: 100%;
    background-color: black;
    border: none;
    color: white;
    resize: none; 
    outline: none; 
    padding: 10px; 
    font-size: 22px; 
    box-sizing: border-box;
}

.create-post .post-editing .functions{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #1D9BF0;
}

.create-post .post-editing .functions .icons{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}

.create-post .post-editing .functions .btn-post{
    width: 16%;
    display: flex;
    justify-content: center;
}

.show-more{
    width: 100%;
    color: #1D9BF0;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}


/*--------- post  -------------------*/
.post{
    width: 100%;
    height: calc(100% - 120px);
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

/* Estilizando la scrollbar para navegadores WebKit */
.mini-sections::-webkit-scrollbar,
.post::-webkit-scrollbar {
    width: 5px;
    background-color: black; /* Color de fondo de la scrollbar */
}
.mini-sections::-webkit-scrollbar-thumb,
.post::-webkit-scrollbar-thumb {
    background-color: black; /* Color de la barra de desplazamiento */
    border-radius: 6px;
    border: 2px solid black; /* Borde alrededor de la barra de desplazamiento */
}
.mini-sections::-webkit-scrollbar-thumb:hover,
.postr::-webkit-scrollbar-thumb:hover {
    background-color: black; /* Color de la barra de desplazamiento al pasar el ratón */
}
.mini-sections::-webkit-scrollbar-track,
.post::-webkit-scrollbar-track {
    background-color: black; /* Color del track (la parte fija de la scrollbar) */
}


.post .item{
    width: 100%;
    height: auto;
    min-height: 400px;
    display: flex;
    border-bottom: 1px solid gray;
}

.post .item .img-perfil{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding:5px;
}

.post .item .img-perfil img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.post .item .container{
    width: 100%;
    display: flex;
    flex-direction: column;   
    padding: 10px;
}

.post .item .container .names{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20px;
    padding:0 2px;
}

.post .item .container .names .tag{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;    
}
.post .item .container .names .options{
    width: 10%;    
    display: flex;
    justify-content: center;
    align-items: center;    
    color: gray;
    font-weight: 700;
}

.tag span{
    margin-right: 3px;
    color: grey;
    font-size: 14px;
    font-weight: 500;
}
.tag i{
    color: #1D9BF0;
    margin-left: 5px;
    margin-right: 10px;
}
.tag p{
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.post .item .container .names .options{
    width: 10%;
}

.post .item .container .comentario{
    color: white;
    font-size:14px;
    font-weight: 300;
}

.post .item .container .cuerpo{
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .item .container .cuerpo img{
    width: 100%;
    height: 100%;
}

.post .item .container .foot{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.post .item .container  .foot .function{
    color: gray;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45px;

   
}










/* ------------------------------------------ */
.mini-sections{
    width: 30%;
    height: 100vh;
    padding-left: 25px;
    box-sizing: border-box;
    overflow: auto;
}

.sections{
    width: 72%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;    
}

.sections .card{
    width: 100%;
    min-height: 150px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;

}
.sections .card .card-body,
.sections .card .card-header{
    color: white;
}


.sections .card .card-header h3{
    font-weight: 700;
    font-size: 18px;
}

.sections .card .card-body p{
    font-weight: 400;
    font-size: 14px;
}

.live{
    width: 100%;
}

.live .item .name{
    display: flex;
    justify-content: start;
    align-items: center;
}

.live .item .name img{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 5px;
}

.live .item .name p{
    color: white;
    font-weight:700;
    font-size: 12px;
    margin: 0;
}

.live .item .titular{
    max-height: 75px;
    min-height: 50px;  
}
.live .item .titular p{
    font-weight: bold;
    font-size: 14px;
}

.happening{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.happening .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.happening .item .title,
.happening .item .posts{
    font-size: 10px;
    color: gray;
    font-weight: 500;
    margin: 0;
}

.happening .item .brand{
    font-size: 12px;
    color: white;
    font-weight: 700; 
    margin: 0;   
}

.sections .card .card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sections .card .card-footer p{
    color: #1D9BF0;
}


.follows{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.follows .item{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 15px;
}

.follows .item img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.follows .item .body{
    display: flex;
    flex-direction: column;
}
.follows .item .body p{
    margin: 0;
    text-align: left;
}

.follows .item .body .name{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.follows .item .body .tag{
    color: grey;
    font-weight: 400;
    font-size: 10px;
}

.btn-follow{
    background: #f1f1f1;
    color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    font-weight: 700;
}






/* ------------------------------------------- */

/*boton x */
button.btn-x{
    height: 50px;
    background: rgb(29, 155, 240);
    color: white;
    font-weight: 700;
    padding: 15px;
    border-radius: 35px;
    font-size: 18px;
    width: 240px;
    cursor: pointer;
    border: 0 solid black;
}

button.btn-x:hover{
    background-color: rgb(29, 155, 240, 0.85);
}



